h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 196px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.header-background{
    background: url(Pictures/Pictures/banner_3.jpg);
    margin: 0;
    height: 260px;
    background-repeat: no-repeat;
    background-color: #FFFFFFFF;
}
.header-2_background{
    background: url(Pictures/Pictures/banner_4.jpg);
    margin: 0;
    height: 510px;
    background-repeat: no-repeat;
    background-color: #FFFFFFFF;
}
.footer-background{
    background: url(Pictures/Pictures/war-rig.png);
    margin: 0;
    height: 260px;
    background-repeat: no-repeat;
    background-color: #dee2e1;
}
.menu {
	background-color: #0b5153;
	font-family: #000000;
	overflow: hidden;
}
.menu a {
	float: right;
	font-size: 16px;
	color: #000000;
	text-align: center;
	padding: 10px;
}
.menu a:hover {
	background-color: #80b0bc;
}
body, html {
		margin: 0;
		height: 100%;
		color: #000000;

}
.image {
	background-image: url(https://imgur.com/sjSIwKh);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding: 50px;
	text-align: center;
}
p {
	color: 	#000000;
}

.subject h1 {
	font-size: 50px; 
	color: #e2b100;
	margin:0; 
}

.subject button {
	
	border-radius: 5px;
	border-style: solid;
    border-color: white;
    padding: 10px;

}
.subject button:hover {
	background-color: #e2b100;
	border-color: #e2b100;
	color: white;
}

.minust p, h2 {
	color: black;
	text-align: center;
}

.minust img {
	height: 180px;
	display: block;
	margin: auto;
	margin-top: 50px;
}

a:-webkit-any-link {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size: x-large;
}

.kontakt {
	height: 100%;
}

.veerg {
	padding: 0px;
	float: left;
	width: 33.33%;
}

.veerg img {
	opacity: 1;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.veerg img:hover {
	opacity: 0.5;
}
#profile-pic {
  	float: right;
	padding: 30px;
	display: block;

}
.story-desc{
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    font-size: x-large;
    display: block;
    margin-block-start: 3em;
    margin-block-end: 3em;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
}
.bottom-right {
    position: absolute;
    bottom: 500px;
    right: 30px;
    font-size: 50px;
}
.video{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding: 50px;
	text-align: center;

}
